# Compresión Gzip
<IfModule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript application/json
</IfModule>

# Cache para imágenes (1 año)
<FilesMatch "\.(webp|jpg|jpeg|png|gif|ico)$">
   Header set Cache-Control "max-age=31536000, public, immutable"
</FilesMatch>

# Cache para CSS y JS (1 mes)
<FilesMatch "\.(css|js)$">
   Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Cache para HTML (1 día)
<FilesMatch "\.(html)$">
   Header set Cache-Control "max-age=86400, must-revalidate"
</FilesMatch>